html, body {
    width: 100%;
    height: 100%;
    overflow: hidden;
}


.bible-text {
    max-width: 800px;
    margin: auto;

    /* FIXME */
    body[rtl=true] {
        direction: rtl;
    }

    .verse {
        display: inline;
        cursor: pointer;
        padding: 0.3ex 0;
    }

    .verse.bookmarked {
        background: #fff59d;

        .z {
            background: #fff59d;
        }

        .verse-label {
            color: #c38700;
        }
    }

    .verse.selected {
        background: #cde7ff;

        .z {
            background: #cde7ff;
        }

        .verse-label {
            color: #0b63c5;
        }
    }

    .heading {
        font-size: 120%;
        margin: 20px 0;

        color: #888;
    }


    .verse-label {
        display: inline-block;
        position: relative;
        top: -.5em;
        font-size: 65%;
        font-weight: bold;
        padding: 0 .2em 0 .2em;

        text-indent: 0;

        color: #888;
    }

    .par {
        margin-top: .8em;
    }


    body[layout=indented] .par {
        margin-left: .8em;
        text-indent: -1em;
    }

    body[layout=indented] .verse-label {
        min-width: 2.5ex;
    }

    body[layout=indented][rtl=true] .par {
        margin-right: .8em;
    }


    .small, .smallcaps {
        font-size: 80%;
    }

    .upper {
        text-transform: uppercase;
    }

    .z {
        display: block;
        margin-left: 60px;
        text-indent: -20px;
    }

    .superscript {
        text-align: center;
        font-style: italic;
        font-size: 90%;
    }

    .match {
        background: #8f8;

        &.current {
            background: #f88;
        }
    }

    body.hide-matches .match {
        background: none;
    }

    body.hide-matches .match.current {
        background: none;
    }
}

html[theme="dark"] {
    .bible-text {
        .verse.bookmarked {
            background: #806500;

            .z {
                background: #806500;
            }

            .verse-label {
                color: #ffe08a;
            }
        }

        .verse.selected {
            background: #2f4d73;

            .z {
                background: #2f4d73;
            }

            .verse-label {
                color: #a8cfff;
            }
        }

        .verse-label {
            color: #666;
        }

        .match {
            background: #060;

            &.current {
                background: #600;
            }
        }
    }
}

